@font-face {
	font-family: "Linux Libertine Mono";
	src: url("/fonts/LinLibertine_M.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

:root {
	--cell-width: 0.7rem;
	--cell-height: 1.2rem;
	--text-color: #000;
	--background: #fff;
	--contain: layout style;
	/* --contain: layout style paint; */
	--font-family:
		"Linux Libertine Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
	background: var(--background);
	color: var(--text-color);
	overscroll-behavior: none;
}

.grid {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: var(--cell-height);
	line-height: var(--cell-height);
	white-space: pre;
	overflow: hidden;
	contain: strict;
	user-select: none;
	font-family: var(--font-family);
}

#app {
	width: 100%;
	height: 100%;
}
